body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#app {
    max-width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

#post-list {
    width: 100%;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
